<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "航班名称", for: :flight_name %>
    <%= form.text_field :name, id: :flight_name, class: "form-control", placeholder: "请输入航班名称"%>
  </div>

  <div class="form-group">
    <%= form.label "航班号", for: :flight_number %>
    <%= form.text_field :number, id: :flight_number, class: "form-control", placeholder: "请输入航班号" %>
  </div>

  <div class="form-group">
    <%= form.label "飞机型号", for: :flight_plane_ids %>
    <%= form.select :plane_ids, Plane.all.collect {|p| [ p['name'], p['id'] ] }, { :include_blank=> false, :include_hidden=> false}, {id: :flight_plane_ids, class: "form-control", :multiple => ""} %>
  </div>

  <div class="form-group">
    <%= form.label "起飞时间", for: :flight_begintime %>
    <div class="input-group date" id="flight_begintime" data-target-input="nearest">
      <%= form.text_field :begintime, class: "form-control datetimepicker-input", "data-target":"#flight_begintime"%>
      <div class="input-group-append" data-target="#flight_begintime" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "降落时间", for: :flight_endtime %>
    <div class="input-group date" id="flight_endtime" data-target-input="nearest">
      <%= form.text_field :endtime, class: "form-control datetimepicker-input", "data-target": "#flight_endtime" %>
      <div class="input-group-append" data-target="#flight_endtime" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#flight_begintime').datetimepicker({
            locale: 'zh-cn'
        });
        $('#flight_endtime').datetimepicker({
            locale: 'zh-cn'
        });
    });
</script>