<p id="notice"><%= notice %></p>

<%= form_with(model: @flight, local: true) do |form| %>

  <div class="form-group">
    <%= form.label "航班名称", for: :flight_name %>
    <%= form.text_field :name, id: :flight_name, class: "form-control", placeholder: "请输入航班名称" ,readonly:""%>
  </div>

  <div class="form-group">
    <%= form.label "航班号", for: :flight_number %>
    <%= form.text_field :number, id: :flight_number, class: "form-control", placeholder: "请输入航班号" ,readonly:""%>
  </div>

  <div class="form-group">
    <%= form.label "飞机型号", for: :flight_plane_ids %>
    <%= form.select :plane_ids, Plane.all.collect {|p| [ p['name'], p['id'] ] }, { :include_blank=> false, :include_hidden=> false}, {id: :flight_plane_ids, class: "form-control", :multiple => "", :disabled=>""} %>
  </div>

  <div class="form-group">
    <%= form.label "起飞时间", for: :flight_begintime %>
    <div class="input-group date" id="flight_begintime" data-target-input="nearest">
      <%= form.text_field :begintime, class: "form-control datetimepicker-input", "data-target": "#flight_begintime", disabled:""%>
      <div class="input-group-append" data-target="#flight_begintime" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "降落时间", for: :flight_endtime %>
    <div class="input-group date" id="flight_endtime" data-target-input="nearest">
      <%= form.text_field :endtime, class: "form-control datetimepicker-input", "data-target": "#flight_endtime", disabled:""%>
      <div class="input-group-append" data-target="#flight_endtime" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>