<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-4">

    <div class="card">

      <%= image_tag(@plane_blueprint.seat_map, {:class => "card-img-top"}) %>
      <div class="card-body">
        <h5 class="card-title"><%= @plane_blueprint.name %></h5>
        <p class="card-text">
          <%= @plane_blueprint.description %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-8">
    <h1><%= @plane_blueprint.name %></h1>
    <%= form_with(model: @plane_blueprint, local: true) do |form| %>

      <div class="form-group">
        <%= form.label "飞机型号", for: :plane_blueprint_name %>
        <%= form.select :name, BackstageProp.get_the_only_prop.plane_types, {}, {id: :plane_blueprint_name, class: "form-control", :prompt => 'Select One', :disabled => ""} %>
      </div>

      <div class="form-group">
        <%= form.label "座舱图地址", for: :plane_blueprint_seat_map %>
        <%= form.text_field :seat_map, id: :plane_blueprint_seat_map, class: "form-control", placeholder: "请输入座舱图地址", readonly: "" %>
      </div>

      <div class="form-group">
        <%= form.label "描述", for: :plane_blueprint_description %>
        <%= form.text_area :description, id: :plane_blueprint_description, class: "form-control", placeholder: "请输入机型描述",readonly: "",rows:"8" %>
      </div>
    <% end %>

    <%= link_to 'Edit', edit_plane_blueprint_path(@plane_blueprint) %> |
    <%= link_to 'Back', plane_blueprints_path %>
  </div>
</div>