<p id="notice"><%= notice %></p>

<p>
  <strong>Temperature:</strong>
  <%= @record.temperature %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @record.datetime %>
</p>

<p>
  <strong>User:</strong>
  id：<%= @record.user_id %> 用户名：<%= @record.user.username %> | <%= link_to '查看用户', user_path(@record.user) %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
