<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "用户名", for: :user_name  %>
    <%= form.text_field :name, id: :user_name, class:"form-control",placeholder:"请输入用户名" %>
  </div>

  <div class="form-group">
    <%= form.label "邮箱", for: :user_email  %>
    <%= form.text_field :email, id: :user_email, class:"form-control",placeholder:"请输入地址",type:"email" %>
  </div>

  <div class="form-group">
    <%= form.label "性别", for: :user_sex_type  %>
    <%= form.select(:sex_type, User.sex_types.keys, {}, { :class => 'form-control', :id => :user_sex_type })%>
  </div>

  <div class="form-group">
    <%= form.label "密码", for: :user_password  %>
    <%= form.text_field :password, id: :user_password, class:"form-control",placeholder:"请输入密码",type:"password" %>
  </div>

  <p class="btn-group" role="group">
    <%= form.submit "保存", class:"btn btn-primary" %>
  <p/>
<% end %>
