<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "航班名称", for: :flight_name %>
    <%= form.text_field :name, id: :flight_name, class: "form-control", placeholder: "请输入航班名称"%>
  </div>

  <div class="form-group">
    <%= form.label "航班号", for: :flight_number %>
    <%= form.text_field :number, id: :flight_number, class: "form-control", placeholder: "请输入航班号" %>
  </div>


  <div class="form-group">
    <%= form.label "起始地", for: :flight_from_location %>
    <%= form.text_field :from_location, id: :flight_from_location, class: "form-control", placeholder: "请输入起始地" %>
  </div>


  <div class="form-group">
    <%= form.label "目的地", for: :flight_to_location %>
    <%= form.text_field :to_location, id: :flight_to_location, class: "form-control", placeholder: "请输入目的地" %>
  </div>

  <div class="form-group">
    <%= form.label "飞机型号", for: :flight_plane_ids %>
    <%= form.select :plane_ids, Plane.all.collect {|p| [ p['name'], p['id'] ] }, { :include_blank=> false, :include_hidden=> false}, {id: :flight_plane_ids, class: "form-control", :multiple => ""} %>
  </div>

  <div class="form-group">
    <%= form.label "起飞时间", for: :flight_begintime %>
    <%= form.datetime_field :begintime, id: :flight_begintime, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label "降落时间", for: :flight_endtime %>
    <%= form.datetime_field :endtime, id: :flight_endtime, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "修改价格", for: :flight_prices %>
    <br>
    <div class="btn-group" id="flight_prices" role="group" >
      <% @flight.prices.each do |price| %>
        <%= link_to price.get_seat_level_name.to_s, edit_price_url(price.id), class:"btn btn-secondary",target:"popup",
            onclick:"window.open('" + edit_price_url(price.id) + "','popup','width=400,height=640'); return false;"%>
      <% end %>
    </div>
  </div>


  <p class="btn-group" role="group">
    <%= form.submit "保存", class:"btn btn-primary" %>
  <p/>
<% end %>

<script type="text/javascript">
    $(function () {
        // $('#flight_begintime').datetimepicker({
        //     locale: 'zh-cn',
        //     format:'yyyy-mm-dd'
        // });
        // $('#flight_endtime').datetimepicker({
        //     locale: 'zh-cn',
        //     format:'Y-MM-DDThh:mm'
        // });
    });
</script>