<!DOCTYPE html>
<html>
  <head>
    <title>FlightBookingSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
    <%= render 'header_menu' %>
    <%= yield %>
    <%= render 'footer_menu' %>
  </div>

  </body>
</html>
