<%= form_with(model: plane, local: true) do |form| %>
  <% if plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plane.errors.count, "error") %> prohibited this plane from being saved:</h2>

      <ul>
      <% plane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "班机名称", for: :plane_name  %>
    <%= form.text_field :name, id: :plane_name, class:"form-control",placeholder:"请输入飞机名称" %>
  </div>

  <div class="form-group">
    <%= form.label "班机型号", for: :plane_type  %>
    <%= form.text_field :type, id: :plane_type, class:"form-control",placeholder:"请输入飞机型号" %>
  </div>

  <div class="form-group">
    <%= form.label "班机座位数", for: :plane_size  %>
    <%= form.text_field :size, id: :plane_size, class:"form-control",placeholder:"请输入飞机座位数",type:"number" %>
  </div>

  <p class="btn-group" role="group">
    <%= form.submit "保存", class:"btn btn-primary" %>
  <p/>
<% end %>
