<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plane.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @plane.type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @plane.size %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
