<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-4">

    <div class="card">

      <%= image_tag(@plane.plane_blueprint.seat_map, {:class => "card-img-top"}) %>
      <div class="card-body">
        <h5 class="card-title"><%= @plane.plane_blueprint.name %></h5>
        <p class="card-text">
          <%= @plane.plane_blueprint.description %>
        </p>
        <%= link_to "查看机型",@plane.plane_blueprint , :class=>"btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-8">
    <h1><%= @plane.name %></h1>
    <%= form_with(model: @plane, local: true) do |form| %>
      <% if @plane.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(plane.errors.count, "error") %> prohibited this plane from being saved:</h2>

          <ul>
            <% plane.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label "班机名称", for: :plane_name %>
        <%= form.text_field :name, id: :plane_name, class: "form-control", placeholder: "请输入飞机名称", readonly: "" %>
      </div>

      <div class="form-group">
        <%= form.label "班机型号", for: :plane_plane_blueprint_id %>
        <%= form.select :plane_blueprint_id, PlaneBlueprint.all.collect {|p| [p['name'], p['id']]}, {}, {id: :plane_plane_blueprint_id, class: "form-control", :disabled => ""} %>
      </div>

      <div class="form-group">
        <%= form.label "班机座位数", for: :plane_size %>
        <%= form.text_field :size, id: :plane_size, class: "form-control", placeholder: "请输入飞机座位数", type: "number", readonly: "" %>
      </div>

      <div class="form-group">
        <%= form.label "执飞航班", for: :plane_running_flights %>
        <div id="plane_running_flights">
          <div class="list-group">
            <% @plane.flights.each do |flight| %>
              <%= link_to flight.name,flight, :class => "list-group-item list-group-item-action"  %>
            <% end %>
            <% if @plane.flights.empty? %>
              <a class="list-group-item list-group-item-action">尚无执飞航班</a>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>



    <%= link_to 'Edit', edit_plane_path(@plane) %> |
    <%= link_to 'Back', planes_path %>
  </div>
</div>


