<p id="notice"><%= notice %></p>

<%= form_with(model: @ticket, local: true) do |form| %>

  <div class="field">
    <%= form.label "价格", for: :ticket_real_price %>
    <%= form.text_field :real_price, id: :ticket_real_price,class: "form-control", placeholder: "请输入价格", type: "number", disabled:""%>
  </div>

  <div class="form-group">
    <%= form.label "座舱等级", for: :ticket_user_seat_level %>
    <div class="list-group" id="ticket_user_seat_level">
      <%= link_to @ticket.price.get_seat_level_name, @ticket.price, class: "list-group-item list-group-item-action" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "航班", for: :ticket_flight_id %>
    <div class="list-group" id="ticket_flight_id">
      <%= link_to @ticket.flight.name, @ticket.flight, class: "list-group-item list-group-item-action" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "用户", for: :ticket_user_id %>
    <div class="list-group" id="ticket_user_id">
      <%= link_to @ticket.user.name, @ticket.user, class: "list-group-item list-group-item-action" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label "付款状态", for: :ticket_pay_status %>
    <div class="list-group" id="ticket_pay_status">
      <div class="list-group-item list-group-item-action"><%= Ticket.pay_status_names[Ticket.pay_statuses[@ticket.pay_status]] %></div>
    </div>
  </div>

<% end %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
